
    .navbar {
        background-color: rgb(128, 163, 228);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white; 
        }
      
    body {
        background-image: url("Assets/Images/palm.jpg");
        }

    img {
        width: 300px; 
        border-radius: 50px;
        }

    .containercontent {
        margin-bottom: 20px;
        padding: 20px;
        height: 400px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #000000;
        }

    .containercontent img {
        max-height: 350px;
        }

    .containercontent h2 {
        margin-bottom: 20px;
        font-size: 36px;
        }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(128, 163, 228);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(65, 82, 113);
        text-align: center;
        }

    .centered {
        margin-bottom: 5px;
        padding: 5px;
        }

    .centered h3{
        position: absolute;
        top: 75%;
        left: 35%;
        transform: translate(-50%, -50%);
        color: #ffffff;  
        }